  <div class="fixed-icon">
    <!-- Botón que muestra/oculta el menú rápido -->
    <button id="toggleFixedMenu" aria-label="Abrir menú rápido">
      <i class="fa-solid fa-gear"></i>
    </button>

    <!-- Menú oculto por defecto -->
    <ul id="fixedDropdown" class="hidden">
        <!-- Estandarte de la historia actual -->
      <li class="story-banner">
        <img src="/img/background.jpg" alt="Estandarte de la historia actual">
      </li>

      <!-- Opciones de menú -->
      <li><a href="/">Mis historias</a></li>
      <li><a href="/">Continuar</a></li>
    </ul>
  </div>