  <!-- FOOTER -->
  <footer class="site-footer">
    <div>creatybook@creatybook.es | 663846942</div>
    <div>&copy; 2025 CreattyBook</div>
    <div>
      <a href="/terms">Términos y condiciones</a> | 
      <a href="/cookies">Política de Cookies</a>
    </div>
  </footer>